:root {
  --cOrange: #d57b16;
  --cNavy: #1938ab;
  --cBlack: #000000;
  --basic-girl-grey: rgb(241, 241, 241);
  --basic-girl-hover-grey: rgb(184, 184, 184);
}

.accent-color {
  color: var(--cNavy);
}

.container {
  /* min-height: 33px; un-necessary? */
  grid-auto-rows: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
  margin-top: 40px;
}

body,
p {
  margin: 0;
}

main {
  display: grid;
  justify-content: center;
  padding: 0 1rem;
}

header {
  /* background-color: var(--basic-girl-grey); */
  margin-left: 2rem;
  margin-right: 2rem;
}

.header-left {
  vertical-align: center;
}

.header-center {
  text-align: center;
  vertical-align: center;
}

.header-right {
  text-align: right;
  vertical-align: center;
}

.header-bold {
  font-weight: bold;
}

header .hr-thin {
  border: 0;
  height: 2px;
  background: var(--cBlack);
}

header .hr-thick {
  border: 0;
  height: 6px;
  background: var(--cBlack);
}
